body {
    margin: 0;
    display: grid;
    grid-template-rows: 70px 6fr 70px;
    grid-template-columns: 1fr;
    grid-template-areas: "cab" "main" "pie";
    height: 100vh;
    background-color: rgb(5, 5, 58);
    font-family: sans-serif;
}

header {
    grid-area: cab;
    background-color: rgb(31, 151, 115);
}

main {
    background-color: white;
    grid-area: main;
    display: grid;
    grid-template-rows: 0.5fr 5fr 1fr;
    grid-template-columns: 1;
    gap: 10px;
}

h1 {
    grid-row: 1;
    text-align: center;
    color: rgb(5, 5, 58);
}

table {
    grid-row: 2;
    border-collapse: collapse;
    background-color: white;
}

table tbody tr {
    cursor: pointer;
}

table tbody tr:hover {
    background-color: rgb(226, 221, 221);
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}

thead {
    background-color: rgb(31, 151, 115);
    border-bottom: 3px solid black;
}

.clicked {
    background-color: grey;
}

#botones {
    border-top: 4px solid rgb(5, 5, 58);
    grid-row: 3;
    background-color: white;
    text-align: center;
}

#botones input {
    width: 200px;
    height: 40px;
    margin-top: 10px;
}

footer {
    grid-area: pie;
    background-color: rgb(31, 151, 115);
    padding: 20px;
    color: black;
    text-align: center;
}

#botonMenu {
    display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}

header label:hover {
    cursor: pointer;
}

.menu ul {
    background-color: rgb(31, 151, 115);
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu li a {
    display: block;
    padding: 25px 20px;
    color: black;
    text-decoration: none;
}

.menu li a:hover {
    background: rgba(0, 0, 0, 0.3);
    color: white;
}

.logoMenu {
    height: 40px;
    width: 40px;
    padding: 0;
}


/* MOVILES-----------------------------------------------------------*/

@media (max-width: 480px) {
    /*Menu en icono*/
    header label {
        display: block;
    }
    .menu {
        position: absolute;
        background-color: rgb(31, 151, 115);
        width: 40%;
        margin-left: -100%;
    }
    .menu ul {
        flex-direction: column;
    }
    #botonMenu:checked~.menu {
        margin: 0;
        transition: all 0.5s;
    }
    /**/
    body {
        margin: 0;
        display: grid;
        grid-template-rows: 0.3fr 6fr 0.3fr;
        grid-template-columns: 1fr;
        grid-template-areas: "cab" "main" "pie";
        background-color: rgb(5, 5, 58);
        font-family: sans-serif;
    }
    h1 {
        font-size: 1.4em;
    }
    table {
        width: 100%;
        margin: 0;
    }
    main {
        grid-area: main;
        display: grid;
        grid-template-rows: 0.5fr 10fr 0.5fr;
        grid-template-columns: 1;
        gap: 10px;
    }
    #botones input {
        width: 300px;
        height: 50px;
        margin-top: 5px;
        text-align: center;
    }
    #botones {
        border-top: 100% solid rgb(5, 5, 58);
        grid-row: 3;
        background-color: white;
    }
}


/* TABLET-----------------------------------------------------------*/

@media(min-width: 481px) and (max-width: 781px) {
    body {
        grid-template-rows: 0.2fr 6fr 0.2fr;
    }
    h1 {
        font-size: 1.3em;
    }
    main {
        background-color: white;
        grid-area: main;
        display: grid;
        grid-template-rows: 0.5fr 5fr 1fr;
        grid-template-columns: 1;
        gap: 10px;
    }
}


/*PC-----------------------------------------------------------*/

@media(min-width: 781px) {
    main {
        background-color: white;
        grid-area: main;
        display: grid;
        grid-template-rows: 70px 6fr 70px;
        grid-template-columns: 1;
        gap: 10px;
        padding-right: 200px;
        padding-left: 200px;
    }
}